@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


/* Styles */

h1, h2, h3, h4, p, span {
    font-family: Space Grotesk;
    font-style: normal;
    line-height: normal;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    background-color: #B9FF66;
    border-radius: 7px;
    padding: 0 7px;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
}

a {
    font-size: 20px;
    font-weight: 400;
    color: #191A23;
}

span {
    font-size: 18px;
    font-weight: 400;
}

.highlight-style-1, .highlight-style-2 {
    border-radius: 7px;
    padding: 0 7px;
    font-size: 30px;
    font-weight: 600;
}

.highlight-style-1 {
    background-color: #B9FF66;
}

.highlight-style-2 {
    background-color: #F3F3F3;
}


.btn-primary, .btn-secondary, .btn-tertiary {
    font-family: Space Grotesk;
    width: fit-content;
    border-radius: 14px;
    padding: 20px 35px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.btn-primary {
    background-color: #191A23;
    border: none;
    color: white;
}

.btn-secondary {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: #191A23;
    color: #191A23;
}

.btn-tertiary {
    background-color: #B9FF66;
    border: none;
    color: #191A23;
}

/* Layout */

.layout {
    font-family: 'Space Grotesk', sans-serif;
    width: 86%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 16%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.mobile {
    display: none;
}

.navbar {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & nav {
        margin-right: 3%;
    }
}

nav {
    width: 65%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}




/* Hamburger menu test */





/* Main Section */

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 5% 0;
    & p {
        font-size: 20px;
    }
}

.main-content {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-image {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.logotypes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(100%);
}

/* Services Section */

.section {
    margin-top: 10%;
}

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 6%;
}

.section-title h2 {
    display: block;
}

.section-title p {
    margin-left: 3%;
}

.services {
    & .section-title p {
        width: 50%;
    }
}

    .services-cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
    }

    .service-card {
        border-radius: 45px;
        border: 1px #191A23;
        box-shadow: 0 5px 0 0 #191A23;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .services-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 93px;
    }

    .services-learn-more {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .seo, .email-marketing {
        background: #F3F3F3;
    }

    .ppc-ad, .content-creation {
        background: #B9FF66;
    }

    .smm, .analytics-tracking {
        background: #191A23;
        & a {
            color: #F3F3F3;
        }
    }

    /* Free Proposal */

    .free-proposal {
        background-color: #F3F3F3;
        border-radius: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 120px;
        padding: 60px;
        position: relative;
    }

    .free-proposal-image {
        position: absolute;
        left: 60%;
    }

    /* Process Section */

    .process-acc {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

.working-process {
    & .section-title p {
        width: 25%;
    }
}

    .process-cards {
        padding: 41px 60px;
        border-radius: 45px;
        border: 1px solid #191A23;
        box-shadow: 0px 5px 0px 0px #191A23;
        background-color: #F3F3F3;
        margin-bottom: 30px;
    }

    .process-line, .process-description {
        display: none;
    }

    .process-line {
        border: 1px solid #191A23;
        margin: 3% 0;
    }

    input:checked ~ .text {
        display: block;
    }

    .process-heading {
        display: flex;
        justify-content: space-between;
    }

    .process-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .process-title-no, .process-title-name {
        font-family: Space Grotesk;
        font-style: normal;
        line-height: normal;
        font-weight: 600;
    }

    .process-title-no {
        font-size: 60px;
    }

    .process-title-name {
        font-size: 30px;
    }

    /* ACTIVE  STATE */

    .open-process {
        background-color: #B9FF66;

        & .process-line, & .process-description {
            display: block;
            width: 100%;
        }
    }

    /* Contact Section */

.contact-us {
    & .section-title p {
        width: 28%;
    }
}

    .contact-us-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px 100px 80px 100px;
        border-radius: 45px;
        background-color: #F3F3F3;
        position: relative;
    }

    .contact-us-form {
        display: flex;
        flex-direction: column;

    }

    /* Radio buttons */

    .contact-us-radio {
        display: flex;
        align-items: flex-start;
        gap: 35px;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 40px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {  position: absolute;
        opacity: 0;  cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;  left: 0;
        height: 28px;
        width: 28px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid #191A23;}

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background.container
    input:checked ~ .checkmark {
      background-color: #2196F3;
    }*/

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 6.5px;
        left: 6.5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #B9FF66;}

    .contact-us-input {
        width: 50%;
        & input[type=text], & textarea {
            margin-top: 6px;
            margin-bottom: 25px;
        }
    }

    input[type=text], textarea {
        font-family: 'Space Grotesk', sans-serif;
        width: 100%;
        padding: 18px 30px;
        border: 1px solid #191A23;
        border-radius: 14px;
        box-sizing: border-box;
        resize:none;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    form .btn-primary {
        width: 100%;
    }

    .contact-us-image {
        position: absolute;
        right: 0;
    }

    /* Footer */

    footer {
        background-color: #191A23;
        border-radius: 45px 45px 0 0;
        color: white;
        padding: 55px 60px 50px 60px;
        & a {
            color: #F3F3F3;
            font-size: 18px;
        }
    }

    .footer-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
    }

    .footer-logo {
        width: 16%;
        display: flex;
        align-items: center;
    }

    .footer-logo img {
        width: 100%;
        filter: invert(1);
    }

    .footer-navbar {
        display: flex;

        & nav {
            width: auto;
        }

        & ul {
            gap: 30px;
            width: auto;
        }
    }

    .footer-icons {
        width: 12%;
        display: flex;
        justify-content: space-between;
    }

    .footer-main-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: 3%;
    }

    .footer-contact {
        width: 30%;
        display: flex;
        flex-direction: column;

        & span {
            margin-bottom: 20px;
        }

        & span:first-child {
            margin-bottom: 27px;
        }

        & span:last-child {
            margin-bottom: 0;
        }

    }

    .footer-highlight {
        width: max-content; /* Make Background Color Size fit with Text */
        border-radius: 7px;
        padding: 0 7px;
        font-size: 20px;
        font-weight: 600;
        background-color: #B9FF66;
        color: #191A23;
    }

    .footer-subscribe {
        width: 50%;
        padding: 58px 40px;
        border-radius: 14px;
        background-color: #292A32;
    }

    .footer-subscribe form {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .footer-subscribe input {
        width: 50%;
        padding: 20px 35px;
        cursor: text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        background-color: #292A32;
        border: 1px solid #F3F3F3;
    }

    .footer-email {
        margin-bottom: 0;
    }

    .footer-subscribe button {
        width: 50%;
    }

    hr {
        margin: 5% 0;
    }

    .footer-rights {
        display: flex;
        justify-content: flex-start;
        gap: 40px;
    }
